<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
        <link rel="stylesheet" href="/styles/analysis.css">
    </head>

    <body>

        <header>
            <div class="icon"><h1>🔬</h1></div>
            <div class="title"><h1><a href="#">IAnalyse</a></h1></div>
        </header>

        <main>
            <section>
                <form onsubmit="return Client.handleSubmit(event)">
                    <input id="url" type="text" name="url" value="" onblur="onBlur()" placeholder="Url to analyse">
                    <p class="field__info" style="display: none;">Whops! Seems that is not a valid URL, check the spelling please!</p>
                    <input id="analyse" type="submit" name="" value="✨Analyse✨" idonclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section class="analysis">
                <h2>🔮 Sentiment Analysis Results:</h2>
                <hr>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>&copy Udacity</p>
            <p>Made with 🎔 - 2022 xDonnager</p>
          </footer>
        
          <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('./sw.js');
                });
            }
           </script>
    </body>
</html>
