form {
    border-radius: 6px;
    padding: 40px;
    background: #FFF;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

#analyse {
    background: #203A43;
    color: #FFF
}
